<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
  <style>
    .el-table .warning-row {
      background: oldlace;
    }

    .el-table .success-row {
      background: #f0f9eb;
    }
  </style>

</head>
<body>
<div id="app">


  <!--按钮-->

  <el-row>

<!--    <el-button type="danger" plain>Delete</el-button>-->
    <el-button type="primary" plain @click="dialogVisible = true">Add</el-button>

  </el-row>
  <!--添加数据对话框表单-->
  <el-dialog
          title="Edit Users"
          :visible.sync="dialogVisible"
          width="30%"
  >

    <el-form ref="form" :model="user" label-width="80px">
      <el-form-item label="User Name">
        <el-input v-model="user.name"></el-input>
      </el-form-item>

      <el-form-item label="Password">
        <el-input v-model="user.password"></el-input>
      </el-form-item>


      <el-form-item label="Telephone No.">
        <el-input v-model="user.tel"></el-input>
      </el-form-item>


      <el-form-item>
        <el-button type="primary" @click="adduser">Submit</el-button>
        <el-button @click="dialogVisible = false">Cancel</el-button>
      </el-form-item>
    </el-form>

  </el-dialog>


  <!--表格-->
  <template>
    <el-table
            :data="tableData"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange"
    >
      <el-table-column
              type="selection"
              width="55">
      </el-table-column>
      <el-table-column
              type="index"
              width="50">
      </el-table-column>

      <el-table-column
              prop="name"
              label="User Name"
              align="center"
      >
      </el-table-column>

      <el-table-column
              prop="password"
              label="User Password"
              align="center"
      >
      </el-table-column>

      <el-table-column
              prop="tel"
              align="center"
              label="Telephone No.">
      </el-table-column>

      <el-table-column
              align="center"
              label="Operation">

        <el-row>
          <el-button type="primary">Update</el-button>
          <el-button type="danger">Delete</el-button>
        </el-row>

      </el-table-column>

    </el-table>
  </template>


</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>
  ELEMENT.locale(ELEMENT.lang.en)
</script>




<script>

  new Vue({
    el: "#app",

    mounted(){
      var _this = this;

      axios({
        method:'get',
        url:'http://localhost:9090/JavaWeb_war/demo2',
      }).then(function (response) {
        _this.tableData = response.data

      })

    },
    methods: {

      tableRowClassName({row, rowIndex}) {
        if (rowIndex === 1) {
          return 'warning-row';
        } else if (rowIndex === 3) {
          return 'success-row';
        }
        return '';
      },
      // 复选框选中后执行的方法
      handleSelectionChange(val) {
        this.multipleSelection = val;

        console.log(this.multipleSelection)
      },

      // 添加数据
      adduser(){
        console.log(this.user);
      },


    },
    data() {
      return {
        // 当前页码
        // currentPage: 1,
        // 添加数据对话框是否展示的标记
        dialogVisible: false,

        // 品牌模型数据
        user: {
          id:'',
          name: '',
          password: '',
          tel:'',
        },
        // 复选框选中数据集合
        multipleSelection: [],
        // 表格数据
        tableData: [{
          name: 'huawei',
          password: 'huawei1234',
          tel: "123456"
        },{
          name: 'huawei',
          password: 'huawei1234',
          tel: "123456"
        },{
          name: 'huawei',
          password: 'huawei1234',
          tel: "123456"
        } ]
      }
    }
  })

</script>

</body>
</html>