<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
  <style>
    .el-table .warning-row {
      background: oldlace;
    }

    .el-table .success-row {
      background: #f0f9eb;
    }
  </style>

</head>
<body>
<div id="app">


  <!--按钮-->

  <el-row>

<!--    <el-button type="danger" plain>Delete</el-button>-->
    <el-button type="primary" plain @click="dialogVisible = true">Add</el-button>

  </el-row>
  <!--add dialog table-->
  <el-dialog
          title="Add Invoice"
          :visible.sync="dialogVisible"
          width="30%"
  >

    <el-form ref="form" :model="invoiceForm" label-width="80px">
      <el-form-item label="name">
        <el-input v-model="invoiceForm.username"></el-input>
      </el-form-item>

      <el-form-item label="password">
        <el-input v-model="invoiceForm.password"></el-input>
      </el-form-item>

      <el-form-item label="title">
        <el-input v-model="invoiceForm.title"></el-input>
      </el-form-item>
      <el-form-item label="date">
        <el-input v-model="invoiceForm.date"></el-input>
      </el-form-item>
      <el-form-item label="description">
        <el-input v-model="invoiceForm.beskrivning"></el-input>
      </el-form-item>
      <el-form-item label="category">
        <el-input v-model="invoiceForm.category"></el-input>
      </el-form-item>
      <el-form-item label="price">
        <el-input v-model="invoiceForm.pris"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="addInvoice">Submit</el-button>
        <el-button @click="dialogVisible = false">Cancel</el-button>
      </el-form-item>
    </el-form>

  </el-dialog>


  <!--表格-->
  <template>
    <el-table
            :data="tableData"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange"
    >
<!--      <el-table-column
              type="selection"
              width="55">
      </el-table-column>-->
      <el-table-column
              type="index"
              width="50">
      </el-table-column>
      <el-table-column
              prop="username"
              label="username"
              align="center"
      >
      </el-table-column>
      <el-table-column
              prop="password"
              label="password"
              align="center"
      >
      </el-table-column>

      <el-table-column
              prop="title"
              align="center"
              label="title">
      </el-table-column>
      <el-table-column
              prop="date"
              align="center"
              label="date">
      </el-table-column>
      <el-table-column
              prop="beskrivning"
              align="center"
              label="description">
      </el-table-column>
      <el-table-column
              prop="category"
              align="center"
              label="category">
      </el-table-column>
      <el-table-column
              prop="pris"
              align="center"
              label="price">
      </el-table-column>

      <el-table-column
              align="center"
              label="Operation">

          <template slot-scope = "scope">
              <el-button type="primary" plain @click= "updateInvoice(scope.row)">Update</el-button>
              <el-button type="danger" plain @click = "deleteInvoice(scope.row)">Delete</el-button>
          </template>
      </el-table-column>
    </el-table>
  </template>

    <!--update dialog table-->
    <el-dialog
            title="Update Invoice"
            :visible.sync="dialogVisible4Edit"
            width="30%"
    >

        <el-form ref="form" :model="invoiceForm" label-width="80px">
            <el-form-item label="name">
                <el-input v-model="invoiceForm.username"></el-input>
            </el-form-item>

            <el-form-item label="password">
                <el-input v-model="invoiceForm.password"></el-input>
            </el-form-item>

            <el-form-item label="title">
                <el-input v-model="invoiceForm.title"></el-input>
            </el-form-item>
            <el-form-item label="date">
                <el-input v-model="invoiceForm.date"></el-input>
            </el-form-item>
            <el-form-item label="description">
                <el-input v-model="invoiceForm.beskrivning"></el-input>
            </el-form-item>
            <el-form-item label="category">
                <el-input v-model="invoiceForm.category"></el-input>
            </el-form-item>
            <el-form-item label="price">
                <el-input v-model="invoiceForm.pris"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="uppdateInvoice">Submit</el-button>
                <el-button @click="dialogVisible4Edit = false">Cancel</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>
  ELEMENT.locale(ELEMENT.lang.en)
</script>

<script>

  var vue = new Vue({
      el: "#app",

      data: {
          tableData: [],
          dialogVisible: false,
          dialogVisible4Edit: false,
          invoiceForm: {},
      },

      created() {

          this.getAll();

      },

      methods: {

          tableRowClassName({row, rowIndex}) {
              if (rowIndex === 1) {
                  return 'warning-row';
              } else if (rowIndex === 3) {
                  return 'success-row';
              }
              return '';
          },
          // 复选框选中后执行的方法
          handleSelectionChange(val) {
              this.multipleSelection = val;

              console.log(this.multipleSelection)
          },


          addInvoice() {
              var _this = this;

              axios.post("/invoices", _this.invoiceForm).then(function (response) {
                  _this.dialogVisible = false;
                  _this.getAll();
              })

          },

          getAll() {
              var _this = this;
              axios.get("/invoices").then(function (response) {
                  console.log(response.data);
                  _this.tableData = response.data;
              })
          },

          deleteInvoice(row){
              var _this = this;
              console.log(row);
              axios.delete("/invoices/"+row.id).then(function (response) {
                  _this.getAll();
              })

          },

          updateInvoice(row){

              var _this = this;
              axios.get("/invoices/"+row.id).then(function (response) {

                  console.log(response.data);
                  _this.dialogVisible4Edit = true;
                  _this.invoiceForm = response.data;

              })

          },
          uppdateInvoice(){
              var _this = this;

              axios.put("/invoices", _this.invoiceForm).then(function (response) {
                  _this.dialogVisible4Edit = false;
                  _this.getAll();
              })
          }
      }
  })

</script>

</body>
</html>